torch - pip
torchvision - pip  //use --index-url https://download.pytorch.org/whl/cu121 or whatever CUDA version is loaded
numpy - conda
scipy=1.9.3
faiss-gpu - conda -c nvidia
matplotlib - pip
joblib - pip